body {
    margin: 0;
}

#root {
    min-height: 100vh;
}

#login {
    text-align: center;
    height: 300px;
    width: 300px;
    box-shadow: 0 0 10px 5px #888888;
}

#discount {
    height: 500px;
    width: 800px;
    box-shadow: 0 0 10px 5px #888888;
}

@media (max-width: 896px) {
    #discount {
        width: 300px;
    }
}

table, th, td {
    border: 1px solid;
}

.justify-align {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.round {
    border-radius: 50%;
}

.square {
    border-radius: 8px;
}
